In [229]:
import pandas as pd
import yfinance as yf
import numpy as np

In [230]:
tickers = yf.download("GOOGL META CSCO INTC AMD QCOM AAPL 005930.KS 1810.HK TSLA",start = "2019-01-01",end = "2022-12-31")
tickers

[*********************100%%**********************]  10 of 10 completed

               Adj Close                                                       \
               005930.KS 1810.HK        AAPL        AMD       CSCO      GOOGL
Date
2019-01-02  34113.539062   12.20   37.943253  18.830000  36.906464  52.734001
2019-01-03  33101.132812   11.76   34.163830  17.049999  35.564247  51.273499
2019-01-04  32969.085938   11.96   35.622253  19.000000  37.166245  53.903500
2019-01-07  34113.539062   12.00   35.542969  20.570000  37.417374  53.796001
2019-01-08  33541.304688   11.10   36.220520  20.750000  37.720451  54.268501
...                  ...     ...         ...        ...        ...        ...
2022-12-26  56924.871094     NaN         NaN        NaN        NaN        NaN
2022-12-27  57121.507812     NaN  129.477600  63.270000  46.116402  87.389999
2022-12-28  55994.683594   11.22  125.504539  62.570000  45.670082  86.019997
2022-12-29  54708.589844   10.86  129.059387  64.820000  46.087296  88.449997
2022-12-30           NaN   10.94  129.378006  64.769997  46.223133  88.230003

                                                           ...      Volume  \
                 INTC        META        QCOM        TSLA  ...   005930.KS
Date                                                       ...
2019-01-02  41.195717  135.679993   50.844707   20.674667  ...   7847664.0
2019-01-03  38.929424  131.740005   49.338856   20.024000  ...  12471493.0
2019-01-04  41.318214  137.949997   50.136070   21.179333  ...  14108958.0
2019-01-07  41.510715  138.050003   49.994343   22.330667  ...  12748997.0
2019-01-08  41.773232  142.529999   49.560299   22.356667  ...  12756554.0
...               ...         ...         ...         ...  ...         ...
2022-12-26        NaN         NaN         NaN         NaN  ...   6756411.0
2022-12-27  25.431717  116.879997  107.285439  109.099998  ...  10667027.0
2022-12-28  25.039553  115.620003  104.844910  112.709999  ...  14665410.0
2022-12-29  25.696424  120.260002  107.657883  121.820000  ...  11295935.0
2022-12-30  25.912115  120.339996  107.755898  123.180000  ...         NaN

                                                                          \
               1810.HK         AAPL          AMD        CSCO       GOOGL
Date
2019-01-02  32515761.0  148158800.0   87148700.0  23833500.0  31868000.0
2019-01-03  38910146.0  365248800.0  117277600.0  29606700.0  41960000.0
2019-01-04  25943844.0  234428400.0  111878600.0  27515000.0  46022000.0
2019-01-07  28376962.0  219111200.0  107157000.0  19488100.0  47446000.0
2019-01-08  91106400.0  164101200.0  121271000.0  22071400.0  35414000.0
...                ...          ...          ...         ...         ...
2022-12-26         NaN          NaN          NaN         NaN         NaN
2022-12-27         NaN   69007800.0   36086000.0  12066200.0  20097300.0
2022-12-28  84432613.0   85438400.0   39526500.0   9847400.0  19523200.0
2022-12-29  70917775.0   75703700.0   41428500.0  11396500.0  23333500.0
2022-12-30  41295012.0   77034200.0   37127000.0  13199800.0  23986300.0


                  INTC        META        QCOM         TSLA
Date
2019-01-02  18774600.0  28146200.0   9896600.0  174879000.0
2019-01-03  32267300.0  22717900.0  14422200.0  104478000.0
2019-01-04  35447300.0  29002100.0  14177300.0  110911500.0
2019-01-07  22736800.0  20089300.0  12352000.0  113268000.0
2019-01-08  22749200.0  26263800.0  12110000.0  105127500.0
...                ...         ...         ...          ...
2022-12-26         NaN         NaN         NaN          NaN
2022-12-27  29548100.0  21392300.0   6158100.0  208643400.0
2022-12-28  26176900.0  19612500.0   5395600.0  221070500.0
2022-12-29  30944800.0  22366200.0   6668600.0  221923300.0
2022-12-30  31030100.0  19583800.0   5642300.0  157777300.0

[1039 rows x 60 columns]

In [231]:
tickers1 = yf.download("GOOGL META CSCO INTC AMD QCOM AAPL 005930.KS 1810.HK TSLA",start = "2019-01-01",end = "2022-12-31")['Open']
tickers2 = yf.download("GOOGL META CSCO INTC AMD QCOM AAPL 005930.KS 1810.HK TSLA",start = "2019-1-1",end = "2022-12-31")['Close']

[*********************100%%**********************]  10 of 10 completed
[*********************100%%**********************]  10 of 10 completed

In [232]:
tickerstrings = ["GOOGL", "META", "AAPL", "CSCO", "AMD", "QCOM", "INTC", "005930.KS", "1810.HK", "TSLA"]

for ticker in tickerstrings:
    data = ((tickers2-tickers1)/tickers1)*100

In [233]:
CHANGE = pd.DataFrame(data, columns = tickerstrings)

In [234]:
for ticker in tickerstrings:
    CHANGE.loc[(CHANGE[ticker] >= -2.5)&(CHANGE[ticker] <= 2.5),ticker] = 0
    CHANGE.loc[CHANGE[ticker] > 2.5,ticker ] = 1
    CHANGE.loc[CHANGE[ticker] < -2.5,ticker] = -1

In [235]:
CHANGE

            GOOGL  META  AAPL  CSCO  AMD  QCOM  INTC  005930.KS  1810.HK  TSLA
Date
2019-01-02    1.0   1.0   0.0   0.0  1.0   0.0   0.0        0.0     -1.0   0.0
2019-01-03    0.0   0.0   0.0  -1.0 -1.0   0.0  -1.0        0.0     -1.0   0.0
2019-01-04    1.0   1.0   1.0   1.0  1.0   0.0   1.0        0.0      1.0   1.0
2019-01-07    0.0   0.0   0.0   0.0  1.0   0.0   0.0        0.0     -1.0   1.0
2019-01-08    0.0   0.0   0.0   0.0  0.0   0.0   0.0        0.0     -1.0   0.0
...           ...   ...   ...   ...  ...   ...   ...        ...      ...   ...
2022-12-26    NaN   NaN   NaN   NaN  NaN   NaN   NaN        0.0      NaN   NaN
2022-12-27    0.0   0.0   0.0   0.0  0.0   0.0   0.0        0.0      NaN  -1.0
2022-12-28    0.0   0.0  -1.0   0.0  0.0   0.0   0.0        0.0      0.0   0.0
2022-12-29    0.0   1.0   0.0   0.0  0.0   0.0   0.0        0.0      0.0   0.0
2022-12-30    0.0   0.0   0.0   0.0  0.0   0.0   0.0        NaN      0.0   1.0

[1039 rows x 10 columns]

In [236]:
CHANGE["AAPL"]

Date
2019-01-02    0.0
2019-01-03    0.0
2019-01-04    1.0
2019-01-07    0.0
2019-01-08    0.0
             ...
2022-12-26    NaN
2022-12-27    0.0
2022-12-28   -1.0
2022-12-29    0.0
2022-12-30    0.0
Name: AAPL, Length: 1039, dtype: float64

In [237]:
streak = 0; maxstreak = 0

for j in range(len(CHANGE["1810.HK"])):
    i = CHANGE["1810.HK"][j]
    if ((i == 1) | (i == -1)):
        streak += 1
    else:
        if streak > maxstreak:
            maxstreak = streak
            y = j;
        
        streak = 0

/tmp/ipykernel_5861/1019297303.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  i = CHANGE["1810.HK"][j]

In [240]:
def max_streak(df,column):
    streak = 0; 
    maxstreak = 0

    for j in range(len(df[column])):
        i = df[column][j]
        if ((i == 1) | (i == -1)):
            streak += 1
        else:
            if streak > maxstreak:
                maxstreak = streak
                y = j;
    
            streak = 0

    begin = CHANGE[y-maxstreak]
    end = CHANGE["Date"][y-1]
    
    return print(begin, "to", end)

In [241]:
for ticker in tickerstrings:
    max_streak(CHANGE, ticker)

/tmp/ipykernel_5861/1421687172.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  i = df[column][j]

KeyError: 'Date'

In [243]:
CHANGE.index(y-maxstreak)

TypeError: 'DatetimeIndex' object is not callable

In [ ]:
maxstreak

In [ ]:
y

In [ ]:
#CHANGE.index.name = "Date"
#CHANGE.reset_index(inplace = True)
CHANGE